/* From https://docs.vivliostyle.org/#/vivliostyle-cli#example-of-user-style-sheet-for-epub  */

@page {
  margin: 10%;
  @top-center {     /* page header */
    writing-mode: horizontal-tb;
    font-size: 75%;
    content: string(title);
  }
  @bottom-center {  /* page footer */
    writing-mode: horizontal-tb;
    font-size: 67%;
    content: counter(page);
  }
}
@page :first {      /* cover page */
  margin: 0;
  @top-center {
    content: none;
  }
  @bottom-center {
    content: none;
  }
}
title {
  string-set: title content();
}
img { /* to fit images in the page */
  max-width: 100vw !important;
  max-height: 100vh !important;
}